
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px;
}

img{
  display: block;
}
body {font-family: "Roboto", "Raleway", sans-serif;
color: var(--general-color-text);
font-weight: 400px;
font-style: normal;}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;}

:root{
    --brand-color: #2196F3;
    --general-color-text: #212121;
    --black: black;
    --white: #FFFFFF;
    --heading-background: #2F303A;
    --text-lorem: #757575;
    --person: #F5F4FA;
    --portfolio-img-background: #EEEEEE;
    --fotter-link-color: rgba(255, 255, 255, 0.6);
}


.logo {
  font-family: "Raleway", sans-serif;
  size: 26px;
  Line-height: 30.52px;
  color: var(--black);
  margin-right: 93px;
}

.logo-web {
  color: var(--brand-color);
}

.menu-button {
  font-style: medium;
  font-weight: 500px;
  background-color: #F5F4FA;
  border: none;
  text-align: center;
  margin: 22px, 6px, 22px,6px;
}

.menu-button-ul {
  display: inline-flex;
  border-radius: 4px;
  width: 572px;
  height: 54px;
  justify-content: space-between;
}

.menu-button:hover {
  background-color: var(--brand-color);
  color: var(--white);
}

.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item
{
margin-right: 46px;
}
.link { color: var(--general-color-text);
  text-decoration: none;
}
.social-links .link:hover,
.social-links .link:focus {
color: var(--brand-color);
}

.link-contact { color: var(--text-lorem);
  text-decoration: none;
}
.social-links-contact .link-contact:hover,
.social-links-contact .link-contact:focus {
color: var(--brand-color);
}

a {
  text-decoration: none;
  color: var(--text-lorem);
}
.lorem-layout {
  display: flex;
  margin-top: 94px;
  justify-content: center;
  text-align: left;
  /*flex-basis: calc((100%-30px) / 3);*/
}

.img-layout-studio {
  display: flex;
  justify-content: center;
}
.img-studio-segregate {
  margin-left: 15px;
    list-style: none;
    margin-right: 15px;
}

.img-layout-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lorem-position {
  max-width: 270px;
  margin-left: 15px;
  margin-right: 15px;
}
.lorem-title {
  /*font-size: 14px;
  font-weight: 700px;
  line-height: 16px;*/
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.lorem-text {
  font-style: regular;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-lorem);
  font-size: 14px;
    margin-top: 10px;
}

.john-doe {
font-size: 16px;
line-height: 19px;
font-style: medium;
color: var(--general-color-text)
}

.john-doe-function {
  font-size: 16px;
  font-style: regular;
  line-height: 19px;
  color: var(--text-lorem);
}

.h2 {
  font-size: 36px;
  font-weight: 700px;
  line-height: 42px;
  text-align: center;
  color: var(--general-color-text);
  font-style: normal;
  margin-top: 94px;
  margin-bottom: 50px;
}

.title {
   text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900px;
    font-size: 44px;
    line-height: 116%;
    color: var(--white);
    padding: 195px;
  }

.heading {
    background-color: var(--heading-background);
    min-height: 600px;
    display: flex;
}


.header .container {
  display: flex;
}

.header .mail {
  margin-left: 360px;
  margin-right: 50px;
}
.navigation {
  display: flex;
}

.person {
  list-style: none;
  display: inline-flex;
  justify-content: center;
    /*background-color: var(--person) ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1170px;
  height: 368px;
  margin-right: -20px;*/
}
.person-list {
  /*background-color: var(--person) ;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);*/
    border-radius: 0px 0px 4px 4px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;
    width: 270px;
    height: 368px;
}
.person-list:first-child {
  margin-left: 0px;
}
.time-person: {background color:var(--person)}

.segregate-photography {
    margin-left: 15px;
    list-style: none;
    margin-right: 15px;}

.img-portfolio {
  width: 370px;
  height: 294px;
  background-color: var(--portfolio-img-background);
}
.button {
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /*width: 200px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    background: var(--brand-color);
    border: 0px;
    box-shadow: 0 px 4 px 4 px rgba (0, 0, 0, 0, 15);
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;*/
}
.button-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 700px;
  line-height: 30px;
  
}
.footer {
  background-color: var(--heading-background);
  height: 252px;
}

.footer-logo {
  color: var(--white)
}

.footer-text {
  font-size: 14px;
  line-height: 24px;
  font-style: regular;
  color: var(--white);
  text-decoration: none;
}

.footer-link { color: var(--fotter-link-color);
  text-decoration: none;
}
.footer-links .link:hover,
.footer-links .link:focus {
color: var(--brand-color);
}


